// navbar, section, footer
.header{
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/bg.jpeg) center no-repeat;
    background-size: cover;
    
    
    .brand{
        display: flex;
        align-items:center;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
       
        h1{
            @include main-name;
           
        
        }
        p{
            @include sub-name;
        }
        
    
    }
   
    
    .header-banner {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
    
       .main-heading{
        @include main-heading;
        

       } 
    
        .sub-heading{
        @include sub-heading;
        }
       
        .main-btn {
            @include main-btn;
            

           
        }
    }
        
    
    
}
// About us
.about-us {
    height: 90vh;
    display: flex;
    align-items: center;

    .about-us-left {
        width: 40%;
        position: relative;
        left: -200px;
        

        img {
            width: 100%;
            opacity: .7;
            
            
        }
    }

    
    .about-us-right {
        
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 100px;
        box-sizing: border-box;
    

            h1{
            @include main-heading;
            
           } 
           h3{
            @include sub-heading;
            }
            
       
       
        .description {
            font-family: "Josefin Sans", sans-serif;
            font-size: 25px;
            font-style: italic;
            color: #bbb;
            text-align: justify;

            &:first-letter{
                padding-left: 50px;
            
                        }
           
            }
         
        .stars{
            margin:30px 0;
        }
        .main-btn{
            @include main-btn;
        }
                       
     }   
    
}
// Gallery
.gallery .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    
    

   .card {
        
        @include card;
        
         
        
        &:hover .card-overlay{
                   left: 0;
                }
        
        
        .card-overlay{
            @include card-overlay;  
   
    } 

       
}
    
    
  
     
    

// footer
.footer {
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;

    .footer-header {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
    }

    h1{
        @include main-name;
       
    
    }
    p{
        @include sub-name;
    }
//footer-social-media 

.social-media {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 70px;
    // display: block;
    // list-style-type: disc;
    // margin-block-start: 1em;
    // margin-block-end: 1em;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
    // padding-inline-start: 40px;

   

    .social-media-item{
        list-style: none;
    }
}
.footer-copyright-paragraph {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    color: #bbb;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: capitalize;
}
}
